.container2 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(3, 400px);
  margin-top: 24px;
  padding-left: 16px;
  place-content: center;
}

.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}
