.btn {
  padding: 6px 12px;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  outline: none;
}

.btn-primary {
  background-color: lightpink;
  border: 1px solid lightpink;
  color: white;
  font-weight: bold;
}

.btn-secondary {
  /* background-color: #00acb0; */
  /* border: 1px solid #00acb0; */
  /* color: white; */
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.23);
  color: rgba(0, 0, 0, 0.87);
}
